a:link, a:visited, a:active {
    text-decoration:none;
    color:#3ED5C4;
}

.myh1 {
    color:#00FFFF;
    text-align: center;
}

.myh2 {
    text-align: center;
}

.myh3 {
    text-align: center;
}

table {
    background-color: #356584;
}

th {
    background-color: #055C70;
}

.neg_mark {
    color:#00FFFF;
    font-weight: bold;
    font-size: xx-large;
}

.images {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.emoji {
    font-size: 136px;
}  
